<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.zendi_application" >

    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- <uses-feature android:name="android.hardware.type.watch" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/zendi_round"
        android:label="Zendi"
        android:roundIcon="@mipmap/zendi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zendi_Application" >
        <activity
            android:name=".ActivityAccount.Admin.AccountManager.EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ActivityAccount.Admin.AccountManager.NewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".notificationPackage.notificationPlace"
            android:exported="true" />
        <activity

            android:name=".ActivityAccount.ChangePassword"
            android:exported="false" />

        <activity
            android:name=".ActivityAccount.ForgotPassword_2"
            android:exported="false" />
        <activity
            android:name=".ActivityAccount.ForgotPassword_1"
            android:exported="false" />
        <activity
            android:name=".ActivityAccount.RegisterActivity"
            android:exported="false" />
        <activity android:name=".ActivityAccount.Admin.Statistic.DetailOrdered" />
        <activity android:name=".ActivityAccount.Admin.Statistic.StatisticActivity" />
        <activity android:name=".ActivityAccount.Admin.AdminActivity" />
        <activity android:name=".Location.Location" />
        <activity android:name=".ActivityAccount.Admin.AccountManager.AccountManager" /> <!-- <activity android:name=".searchfragment.MyDetailProduct" /> -->
        <!-- <activity android:name=".Location.Location" android:screenOrientation="portrait"></activity> -->
        <activity
            android:name=".searchfragment.MyDetailProduct"
            android:screenOrientation="portrait" />
        <activity android:name=".ActivityAccount.edit_deleteDropPackage.edit_deleteDrop" />
        <activity android:name=".ActivityAccount.edit_deleteProductPackage.edit_deleteProduct" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCmXt990NNTsptk8ILcCMGCeoBnZZEfpv0" />

        <activity
            android:name=".addProductPackage.AddDrop"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ActivityAccount.LoginRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAccount.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addProductPackage.uploadData"
            android:screenOrientation="portrait" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".ActivityAccount.Account_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".searchfragment.allShoe.AllShoeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeScreen"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".Introduction"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dropFragment.collection_drop"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" /> <!-- facebook -->
        <!-- <activity -->
        <!-- android:name="com.facebook.FacebookActivity" -->
        <!-- android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!-- <activity -->
        <!-- android:name="com.facebook.CustomTabActivity" -->
        <!-- android:exported="true" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.VIEW" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
        <!-- <data android:scheme="@string/fb_login_protocol_scheme" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Zendi" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>